@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<ToDoPortal.Models.Entities.ToDo>


<h1>List of Notes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.Description</td>
                <td>@note.Date</td>
                <td>
                    <a></a>
                </td>
            </tr>
        }
    </tbody>
</table>

